:root {
  /* Cores principais */
  --color-white: #ffffff;
  --color-yellow: #cc4d64;
  --color-gray-dark: #d8d8d8;
  --color-gray-light: #eee;
  --color-gray: #808080;
  --color-pink: #ed06fa;
  --color-black: #000000;
  --color-red-dark: #8b0000;
  /* Gradientes  */
  --gradient-color-gray: #e6e9f0;
  --gradient-color-gray-light: #eef1f5;
  --gradient-color-blue-light: #93a5cf;
  --gradient-color-green-light: #e4efe9;
}

:root:has(#dark-mode-toggle:checked) {
  /* Cores principais */
  --color-white: #1a1a1a;
  --color-yellow: #cc4d64;
  --color-gray-dark: #555555;
  --color-gray-light: #eee;
  --color-gray: #aaa;
  --color-pink: #ed06fa;
  --color-black: #ffffff;
  --color-red-dark: #8b0000;
  /* Gradientes  */
  --gradient-color-gray: #29323c;
  --gradient-color-gray-light: #485563;
  --gradient-color-blue-light: #000000ed;
  --gradient-color-green-light: #3f3d3d;
}

::selection {
  color: var(--color-pink);
  background-color: var(--color-black);
}

a:active {
  color: var(--color-pink);
}
a[href^="mailto"]::before {
  content: "📧 ";
}

html {
  background: linear-gradient(45deg, var(--gradient-color-blue-light) 0%, var(--gradient-color-green-light) 100%);

  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    input[type="checkbox"] {
      display: none;
    }
    details[open] {
      summary {
        margin-bottom: 10px;
      }
    }
    &:has(#dark-mode-toggle:checked) {
      .ball-toggle {
        transform: translateX(-25px);
      }
    }

    &:has(#side-nav:checked) {
      nav {
        transform: translateX(0);
      }
      main {
        margin-left: 160px;
      }
    }
    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: var(--color-white);
      min-height: 30px;
      padding: 10px;
      z-index: 1;
      border-bottom: 1px solid var(--color-black);
      color: var(--color-black);
      label[for="dark-mode-toggle"] {
        display: flex;
        align-items: center;
        gap: 5px;
        border: 1px solid var(--color-black);
        border-radius: 20px;
        padding: 5px;
        position: relative;
        .ball-toggle {
          width: 22px;
          height: 22px;
          background-color: var(--color-red-dark);
          border-radius: 50%;
          position: fixed;
          cursor: pointer;
          right: 14px;
          transition: transform 0.5s ease-in-out;
        }
        span {
          font-size: 20px;
          cursor: default;
        }
      }
      .material-symbols-outlined {
        cursor: pointer;
      }
    }
    nav {
      height: 100%;
      position: fixed;
      left: 0;
      width: 150px;
      transform: translateX(-250px);
      transition: transform 0.6s ease-in-out;
      background: var(--color-white);
      top: 50px;

      ul {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 100%;
        li {
          &::marker {
            content: "💗 ";
          }
          label {
            color: var(--color-black);
            transition: color 0.5s ease-in-out;
            &:hover {
              cursor: pointer;
              color: var(--color-yellow);
            }
          }
        }
      }
    }
    main {
      display: flex;
      flex-direction: column;
      padding: 10px;
      overflow-y: auto;
      height: calc(100vh - 85px);
      margin-top: 10px;
      transition: margin-left 0.6s ease-in-out;

      &::-webkit-scrollbar {
        background-color: var(--color-gray-dark);
        width: 8px;
      }
      &::-webkit-scrollbar-thumb {
        background: var(--color-black);
      }
      .card {
        display: flex;
        flex-direction: column;
        .title {
          color: var(--color-black);
        }
        .introduction {
          margin-top: 10px;
          background-color: var(--color-white);
          padding: 10px;
          border-radius: 10px;
          p {
            margin-bottom: 10px;
          }
        }
        article {
          margin-top: 10px;
          align-self: center;
          figure img {
            width: 100%;
            border-radius: 10px;
          }
        }

        h1 {
          align-self: flex-start;
          margin-bottom: 10px;
        }
        pre {
          margin-top: 10px;
          background-color: var(--color-gray-light);
          border-radius: 3px;
          font-family: courier, monospace;
          padding: 0 3px;
          white-space: pre-line;
          color: var(--color-gray);
        }
        .html-container {
          .content {
            display: grid;
            grid-template-columns: 50% 50%;
            gap: 10px;
            margin-top: 10px;
            .html-semantic {
              background-color: var(--color-white);
              padding: 10px;
              border-radius: 10px;
              .code-exemple {
                width: 100%;
                margin-top: 10px;
              }
            }
          }
        }
      }
      .card-css {
        margin-top: 20px;
        flex-direction: column;
        .attribute-container {
          display: flex;
          flex-direction: column;
          padding: 10px;
          gap: 10px;
          .attributes {
            display: flex;
            align-items: center;
            gap: 10px;
            background: var(--gradient-color-gray);
            color: var(--color-gray);
            padding: 10px;
            border-radius: 10px;
            .attribute {
              background-color: var(--color-gray-light);
              color: black;
              width: 100%;
              max-width: 100px;
              text-align: center;
              padding: 4px;
              border-radius: 5px;
            }
          }
        }
      }
      details {
        background: linear-gradient(to top, var(--gradient-color-gray) 0%, var(--gradient-color-gray-light) 100%);
        color: var(--color-black);
        border: 1px solid var(--color-gray);
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 10px;

        summary {
          &:hover {
            font-weight: 700;
            cursor: pointer;
          }
        }
        .tags-html {
          li {
            list-style-type: circle;
          }
        }
      }
      .iframes {
        display: flex;
        align-items: end;
        margin-top: 20px;
        .videos {
          gap: 10px;
        }
        .list-of-videos {
          span {
            &::after {
              content: "↓";
            }
          }
          .video {
            a {
              &::before {
                content: "→";
              }
            }
            &:nth-child(2) {
              margin-top: 20px;
            }
            &:nth-child(4) {
              margin-bottom: 20px;
            }
          }
        }
      }
    }
    footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: var(--color-white);
      border-top: 1px solid var(--color-black);
      color: var(--color-black);
      margin-top: 10px;
      padding: 10px;
      position: fixed;
      bottom: 0;
      width: calc(100% - 20px);
      .information {
        display: flex;
        flex-direction: column;
      }
      .links {
        span {
          a {
            text-decoration: none;
            &::after {
              content: "←";
            }
          }
        }
        address {
          a {
            text-decoration: none;
          }
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .html-container .content {
    display: flex !important;
    flex-direction: column;
  }
  .iframes {
    overflow: scroll;
    align-items: unset !important;
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .attributes {
    flex-direction: column;
  }
  footer {
    flex-direction: column;
  }
  body:has(#side-nav:checked) {
    main {
      margin-left: 0 !important;
    }
  }
}
