:root {
  --color-white: #ffffff;
  --color-yellow: #d3dd1f;
  --color-gray-light: #d8d8d8;
  --color-pink: #ed06fa;
  --color-black: #000000;
}
::selection {
  color: var(--color-pink);
  background-color: var(--color-black);
}
a:active {
  color: var(--color-pink);
}
html {
  background-color: var(--color-gray-light);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--color-white);
  min-height: 40px;
}

header .material-symbols-outlined {
  cursor: pointer;
}
nav {
  display: flex;
  align-self: center;
  width: 80%;
  background-color: var(--color-white);
  border-radius: 10px;
  margin-top: 10px;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 100%;
}
nav ul li:hover {
  cursor: pointer;
  color: var(--color-yellow);
}
nav ul li::marker {
  content: "💗";
}

article {
  margin-top: 10px;
  align-self: center;
}
figure img {
  width: 100%;
  border-radius: 10px;
}
main {
  flex-direction: column;
  padding: 10px;
}
main h1 {
  align-self: flex-start;
  margin-bottom: 10px;
}

.html-container {
  flex-direction: column;
}
.html-container h3 {
  font-size: 25px;
}
.html-container .content {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 10px;
  margin-top: 10px;
}
.html-container .content .html-semantic {
  flex-direction: column;
  background-color: var(--color-white);
  padding: 10px;
  border-radius: 10px;
}
.card .introduction {
  flex-direction: column;
  background-color: var(--color-white);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.tags-meaning {
  display: flex;
  flex-direction: column;
}
pre {
  background-color: var(--color-gray-light);
}
.iframes {
  display: flex;
  align-items: end;
  justify-content: flex-start;
  width: 100%;
  margin-top: 20px;
}
.videos {
  flex-direction: column;
  gap: 10px;
}
.video:nth-child(2) {
  margin-top: 20px;
}
.video:nth-child(4) {
  margin-bottom: 20px;
}
.video a::before {
  content: "→";
}
.list-of-videos span::after {
  content: "↓";
}
.videos iframe {
  width: 600px;
}
footer {
  background-color: var(--color-white);
  justify-content: space-between;
  width: 100%;
  min-height: 40px;
}
footer span a::after {
  content: "←";
}
